<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="student">
            <h2><span>Student</span> {{ student.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Student Id</span></dt>
                <dd>
                    <span>{{ student.studentId }}</span>
                </dd>
                <dt><span>First Name</span></dt>
                <dd>
                    <span>{{ student.firstName }}</span>
                </dd>
                <dt><span>Middle Name</span></dt>
                <dd>
                    <span>{{ student.middleName }}</span>
                </dd>
                <dt><span>Last Name</span></dt>
                <dd>
                    <span>{{ student.lastName }}</span>
                </dd>
                <dt><span>Gender</span></dt>
                <dd>
                    <span>{{ student.gender }}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{ student.email }}</span>
                </dd>
                <dt><span>Phone Number</span></dt>
                <dd>
                    <span>{{ student.phoneNumber }}</span>
                </dd>
                <dt><span>Date Of Birth</span></dt>
                <dd>
                    <span>{{ student.dateOfBirth }}</span>
                </dd>
                <dt><span>Age</span></dt>
                <dd>
                    <span>{{ student.age }}</span>
                </dd>
                <dt><span>Course</span></dt>
                <dd>
                    <span *ngFor="let course of student.courses; let last = last">
                        <a [routerLink]="['/course', course?.id, 'view']">{{ course.courseCode }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/student', student.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
